[package]
name = "postgresfixture"
version = "0.1.0"
authors = ["Gavin Panella <gavinpanella@gmail.com>"]

[lib]
name = "postgresfixture"
path = "src/lib.rs"

[[bin]]
name = "postgresfixture"
path = "src/main.rs"
doc = false

[dependencies]
clap = "^2.24.2"
nix = "^0.8.1"
postgres = "^0.14.2"
semver = "^0.7.0"
shell-escape = "^0.1.3"

[dev-dependencies]
tempdir = "^0.3"
